.banner{
  background-image: url(../../images/carebanner.jpeg);
  color: rgb(0, 0, 0, 0.0);
  padding: 150px 0px;
  background-size: cover;
  background-position: center;
  text-align: left;

}

.banner h1 {
  font-size: 50px;
}

.banner h2 {
  font-size: 20px;
  font-weight: lighter;


}

.banner p {
  margin: 30px 0px;
  font-weight: bolder;
}
